body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
	background: gray;
	height: 40px;
	text-align: center;
	margin-top: 30px;
	padding-top: 10px;
}

ul.success li, ul.info li, ul.error li {
	margin: 20px 0;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style: none;
}

ul.success li {
	color: #3c763d;
	background: #dff0d8;
	border-color: #d6e9c6;
}

ul.info li {
	color: #3c763d;
	background: #dff0d8;
	border-color: #d6e9c6;
}

ul.error li {
	color: #3c763d;
	background: #dff0d8;
	border-color: #d6e9c6;
}

/*a {
  color: #00B7FF;
}*/