body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
	background: gray;
	height: 40px;
	text-align: center;
	margin-top: 30px;
	padding-top: 10px;
}

/*a {
  color: #00B7FF;
}*/