extends layout
	
block content
	.container
		h1 About us
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aliquid asperiores id, laudantium quos nostrum in mollitia ipsam sed, quod illum facilis. Veniam consequatur eos architecto, itaque laboriosam vitae ratione.
		ul
			li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			li Doloremque, commodi, assumenda. Quibusdam suscipit eveniet eligendi aut alias odit ea atque nam enim temporibus aperiam
			li eaque pariatur consequatur molestiae, sunt a.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum soluta vero, mollitia ducimus ex incidunt cum porro! Autem nesciunt, adipisci totam. Hic quae facere doloribus laborum labore doloremque pariatur itaque.